doctype html
html(lang='en')
    head
        title Component Diagram
        link(rel='stylesheet' href='main.css')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')
    body
        section.node-info
            h4.node-name Module name
            p.node-description Module Description
            p.node-exports Module export
            button.node-info__hide &#10005;

        script(src='app.js')
